$primaryColor: #cb262a;
$secondColor: #d93530;
$bodyColor: #4d4d4d;
$fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
$secondFont: "Roboto", "Helvetica", "Arial", sans-serif;
$imageDir: "./../assets/";

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: $bodyColor;
  font-family: $fontFamily;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  line-height: 1.4;
  &.no-scroll {
    overflow: hidden;
  }
}

.flex-container {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.stretch-self {
  align-self: stretch;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.centered-text {
  text-align: center;
}

a {
  text-decoration: none;
  color: $bodyColor;
}

input,
button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-family: $fontFamily;
  font-size: 1rem;
  text-align: left;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
button {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: $fontFamily;
  line-height: 1;
  &:focus {
    outline: inherit;
  }
  &[disabled] {
    cursor: default;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: normal;
  font-family: $fontFamily;
}

img {
  flex: none;
}

.full-width {
  width: 100%;
}

button[disabled] {
  cursor: default;
}

.container {
  padding-left: calc((100vw - 1170px) / 2);
  padding-right: calc((100vw - 1170px) / 2);
}

input,
textarea,
button,
select,
a,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.route {
  padding: 0.5em;
  flex-grow: 1;
}

.main {
  min-height: 100vh;
  background: #eeeeee;
}

.or {
  margin: 1.5em 0;
  font-weight: 700;
  font-size: 1.2em;
  color: $primary;
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.color-white {
  color: white;
}

.flex-grow-1 {
  flex-grow: 1;
}
